<header class="inner">
    <h2><a href="/"><i class="fas fa-code"></i>
        CodeGig</a></h2>
    <nav>
    <ul>
        <li>
        <a href="/">Home</a>
        </li>
        <li>
        <a href="/gigs">All Gigs</a>
        </li>
        <li>
        <a href="/gigs/add">Add Gig</a>
        </li>
    </ul>
    </nav>
</header>